.social_area ul li a:hover i.fa-linkedin-in{background: #0e76a8;} 
.social_area ul li a:hover i.fa-twitter{background: #00acee;} 
.social_area ul li a:hover i.fa-pinterest{background: #c8232c;} 
.social_area ul li a:hover i.fa-google-plus-g{background: #dc4a38;} 
.social_area ul li a:hover i.fa-rss{background: #ee802f;}